@model IEnumerable<Gym.Uninove.Core.Entities.Teacher>

@{
    ViewData["Title"] = "Instrutores";
}

<div class="d-flex p-3 my-3 text-white bg-secondary rounded shadow-sm">
    <div class="d-flex align-items-center mr-auto">
        <span style="font-size: 48px; margin-right: 20px;"><i class="fa-solid fa-user-graduate"></i></span>
        <div class="lh-100">
            <h2 class="mb-0 lh-100">@ViewData["Title"]</h2>
            <small>Todos @ViewData["Title"]</small>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="card rounded shadow-sm p-3">

            <!-- Input Search Teacher -->
            <div class="d-flex">
                <div class="flex-fill pr-3">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Search</label>
                        </div>
                        <input type="text" class="form-control" placeholder="Search Instructor">
                    </div>
                </div>

                <div>
                    <a asp-action="Create" class="d-flex btn btn-outline-success">
                        <i class="fa fa-plus-circle my-1"></i>
                        <b class="ml-1 d-none d-sm-block">New</b>
                    </a>
                </div>
            </div>

            <!-- Event table -->
            <table class="table table-striped mt-2">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th class="d-none d-md-table-cell" (click)="showImage_Click()">
                            <button class="btn btn-sm btn-outline-light">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </th>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var teacher in Model)
                    {
                        <tr class="text-center">
                            <td class="d-none d-md-table-cell">
                                <img src="" />
                            </td>
                            <td>@teacher.Id</td>
                            <td>@teacher.Name</td>
                            <td>@teacher.Description</td>
                            <td>
                                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@teacher.Id"><i class="fa fa-pencil-alt"></i></a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@teacher.Id"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
